# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
/*.opensdf
/MartinPeterSDL.sdf
/MartinPeterSDL/Debug/*.pdb
/MartinPeterSDL/Debug/*.tlog
/MartinPeterSDL/Debug/*.log
/MartinPeterSDL/Debug/*.manifest
/MartinPeterSDL/Debug/*.lastbuildstate
/Debug/MartinPeterSDL.ilk
/Debug/*.exe
/Debug/*.pdb
/ipch/martinpetersdl-10ccc04d/*.ipch
/MartinPeterSDL/Debug/*.idb
/MartinPeterSDL/Debug/*.obj
/MartinPeterSDL/Debug/*.unsuccessfulbuild
/MartinPeterSDL/*.filters
